body {
    color: #fff;
}

.main {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.btn_wrapper {
    display: flex;
    gap: 5px;
}

.number_wrapper {
    font-size: 20px;
    font-weight: 600;
    font-variant: small-caps;
}

.counting_guess_wrapper {
    display: flex;
    gap: 10px;
}